@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

$primary-font: "DM Sans", sans-serif;
$primary-white: #FFF;
$primary-color: #43c3D1;
$primary-black: #061123;
$secondary-color: #0284FF;
$tertiary-color: #2F4858;

body {
    font-family: $primary-font;
    font-size: 1em;
    color: $primary-black;
    font-weight: 500;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.3em;
}

h4 {
    font-size: 1em;
}

a {
    text-decoration: none;
    color: $primary-black;

    &::hover {
        color: $primary-color;
    }
}

.primary-text {
    color: $primary-color ;
}

.secondary-text {
    color: $secondary-color ;
}


ul {
    padding-left: 0;

    li {
        list-style: none;
    }
}

.container {
    max-width: 1280px;
}

.nav-tabs {
    .nav-link {
        // font-size: 1.1em;
        color: $primary-black;

    }
}

.btn {
    &.btn-size {
        background-color: rgba($primary-black, 0.03);
        border-color: rgba($primary-black, 0.05);
        padding: 7px 15px;

        &.active {
            border-color: rgba($primary-black, 0.20);
            ;
        }

        &:hover {
            border-color: rgba($primary-black, 0.20);
            ;
            color: $primary-black;
        }
    }

    &.btn-primary {
        background-color: $primary-color;
        border-color: $primary-color;
        padding: 7px 25px;

        &:hover {
            background-color: $primary-black;
            border-color: $primary-black;
            color: $primary-white;
        }
    }

    &.btn-secondary {
        background-color: $primary-black;
        border-color: $primary-black;
        color: $primary-white;
        padding: 7px 25px;

        &:hover {
            background-color: $primary-color;
            border-color: $primary-color;
            color: $primary-white;
        }
    }
}

header {
    
    .navbar-expand-lg{
        .navbar-brand {
            img{
                left: 0;
            }
        }
        .navbar-nav {
            .nav-link {
                padding: 10px 15px;
                font-size: 1.1em;
                font-weight: 500;
                color: $primary-black;
            }
        }
    } 
}

.section-1 {
    .swiper{
        .swiper-wrapper{
            .swiper-slide{
                height: 650px;
                .content{
                    width: 100%;
                    height: 100%;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }
        }
    }
}

.product{
    .card-img{
        overflow: hidden;
        img{
            border-radius: 10px;
            transition: all 0.3s ease-in-out;
        }
    }
    &:hover{
        img{
            scale: 1.2;
        }
    }

    .card-body{
        padding:0;
        a{
            font-size: 1.2em;
        }
        &:hover{
            a{
                color: $primary-color;
            }
        }
        .price{
            font-size: 1.2em;
            padding-bottom: 20px;
            span {
                color: rgba($primary-black, 0.5)
            }
        }
    }
}

.product-detail{
    .mySwiper{
        .swiper-slide{
            height: auto !important;
            // width:  !important;
            }
           }       
    }
    .price{
        font-size: 1.5em;
        font-weight: bold;
        // margin-top: 20px;
        span {
            color: rgba($primary-black, $alpha: 0.5);
        }
    }



footer{
    background-color: $tertiary-color;
    h2{
        font-size: 1.2em;
        margin-bottom: 20px;
    }
    ul{
        li{
            margin-bottom: 10px;
        }
        a{
            font-size: 1em;
            color: $primary-white;
        }
    }
    .spotlight{
        border-top: 1px solid rgba($primary-white, 0.1);
        border-bottom: 1px solid rgba($primary-white, 0.1);
    }
    .footer-logo{
        margin-top: -10px;
    }
}

@media (min-width: 200px) and (max-width: 768px) {
    .section-1 {
        .swiper{
            .swiper-wrapper{
                .swiper-slide{
                    height: 400px;
                }
            }
        }
    }
}